/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/****************************************************************** ALL Device below 1024px ******************************************************/
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 17px;
  }

  .populaires-cards .card-subtitle {
    font-size: 15px;
  }
}
/************************************************************* Small devices (phones, less than 768px) ************************************************/
@media (max-width: 767.98px) {
  /*************************************************** General ***************************************************/
  body {
    margin: 0;
  }
  .main-container {
    padding: 0;
  }
  .activity h2 {
    margin-bottom: 2rem;
  }
  /************************************ hebergement et populaire  **********************************************/
  .hebergements {
    order: 2;
  }

  .hebergements-and-populaires section {
    background-color: white;
    border-radius: 0;
    padding: 15px;
  }

  .hebergements-and-populaires .populaires {
    order: 1;
    background-color: var(--main-bg-color);
    border-radius: 0px;
  }

  /************************************************************* header  ***************************************************/
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--main-bg-color);
  }
  .header nav img {
    display: flex;
    text-align: center;
    margin: auto;
  }

  .header nav ul li a {
    padding: 1rem 2.8rem;
    margin: 0;
  }
  .header nav ul li a:hover,
  .active {
    border-bottom: 3px solid var(--main-color);
    border-top: none;
  }
  /****************************************************** titre ********************************************/
  .mobile {
    margin-left: 1.1rem;
  }

  /* filtres */
  .filter {
    display: block;
  }
  .filter ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .filter ul li {
    margin: 0;
    width: 34%;
    height: 2.2rem;
    padding: 0.2rem 0.82rem;
    margin-bottom: 8px;
  }
  .filter ul li a {
    font-size: 1rem;
  }

  .filter ul li i {
    font-size: 20px;
  }
  /********************************************** information logement dispo **************************************/

  .information {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  .information i {
    margin-left: 1rem;
    width: 20px;
  }

  .populaires {
    margin-top: 0;
  }

  /******************************************************* hebergements marseille **************************************************/
  .card2 {
    width: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .populaires-cards .card {
    width: 100%;
  }
  .hebergements-card {
    gap: 20px;
  }
  .show-more {
    margin-top: 1.2rem;
  }
  .card-subtitle {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1rem;
  }
  .card-rating {
    font-size: 1rem;
  }

  /******************************************* barre de recherche *************************************************/
  .search {
    justify-content: center;
  }
  .button-search {
    display: none;
  }
  .form-global {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .icon-localisation {
    border-radius: 15px 0 0 15px;
  }
  .input-wrapper {
    position: relative;
    display: flex;
  }

  .input-wrapper input {
    width: auto;
  }

  .search input {
    border-radius: 0 15px 15px 0;
  }

  .icon-button {
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 15px;
    height: 3.2rem;
    padding: 0 1.2rem;
    border: none;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.25);
  }

  .icon-button i {
    color: var(--main-bg-color);
  }

  /************************************************ Les activités ***********************************************/
  .activity {
    display: flex;
    flex-direction: column;
  }

  .marseille-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    gap: 0;
  }

  .activity h2 {
    margin-left: 20px;
  }

  .img-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 91%;
    height: 13rem;
  }

  .img-zone img {
    height: 10rem;
  }

  /**************************************************** pied de page ****************************************************/
  .footer-style {
    display: flex;
    flex-direction: column;
  }

  .footer-column {
    margin-top: 1.6rem;
    width: 55%;
  }
}
/* ultrasmall Device */
@media (max-width: 362px) {
  .header nav ul li a {
    padding: 0.5rem 2rem;
  }

  .search input {
    padding: 0 1rem;
  }
  .filter ul li a {
    font-size: 0.8rem;
  }
}

/* **********************************************************************TABLETTES********************************************************************* */
@media (min-width: 768px) and (max-width: 1024px) {
  /***************************************************** general  ***********************************************/
  .hebergements-and-populaires section {
    padding: 20px;
  }
  .populaires-cards .card {
    width: 31%;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .card-subtitle {
    font-size: 12px;
  }
  .card-rating {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 20px;
  }

  .activity h2 {
    margin-bottom: 2rem;
  }

  /************************************************************* Header et titre *********************************************************/
  .header ul li a {
    font-size: 0.9rem;
  }

  .title {
    font-size: 0.9rem;
  }

  .input-wrapper input {
    width: 9rem;
    height: 3rem;
  }
  .button-search {
    border: none;
    font-size: 0.9rem;
    padding: 1rem;
  }

  .icon-localisation {
    height: 3.1rem;
  }

  ::placeholder {
    font-size: 1.1rem;
  }

  /****************************************************** filter ***********************************************/

  .filter ul li i {
    font-size: 21px;
  }

  .filter ul li a {
    font-size: 0.9rem;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .filter ul {
    display: flex;
  }
  .filter ul li {
    display: flex;
    padding: 0.8rem 1rem;
    margin: 0 0.8rem 0 0;
  }
  .filter ul li i {
    margin-right: 0.5rem;
  }

  /**************************************************** hebergement  ********************************************/
  .card2 {
    width: 29.27%;
  }

  .img-card {
    height: 5rem;
  }

  .show-more {
    font-size: 1.1rem;
    margin: 1.2rem 0 0 0;
  }

  .hebergements-card {
    gap: 22px;
  }

  /*************************************************** populaires  ******************************************************/
  .populaires-cards .card {
    margin-top: 1.5rem;
  }
  .populaires-cards .card-content {
    padding-left: 8px;
  }

  .populaires-cards .card-title {
    font-size: 13.24px;
  }

  .populaires-cards img {
    height: 110px;
  }

  .populaires-cards .card-subtitle {
    font-size: 12px;
  }

  /*************************************************** activité marseille  *********************************************/
  .activity {
    flex-direction: column;
  }

  .img-zone {
    width: 23.5%;
    margin: 0;
    height: 14rem;
  }
  .img-zone img {
    height: 10rem;
  }
  .marseille-activity {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
  }
  .card-zone {
    margin: 0;
  }
  .card-zone h3 {
    margin: 0 0.8rem;
    font-size: 0.87rem;
    padding-top: 0.7rem;
  }

  /*************************************************************** footer  ***************************************************/
  .footer-column {
    width: 28%;
    font-size: 0.9rem;
  }
  .footer-column h3 {
    margin: 0;
    margin-top: 1.5rem;
  }
}
/******************************************************** More mediaqueries nesthub **********************************************************/
@media (min-width: 1025px) and (max-width: 1329px) {
  .card2 {
    width: 28.75%;
  }
}
